.layout {
  max-width: 800px;
  flex: 1;
}

.rowContainer {
  display: flex;
  align-items: center;
  button {
    border: none;
    padding: 10px 15px;
    background-color: #2da8fa;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.wordCard {
  background-color: #d1cfcf;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
  cursor: pointer;
  a {
    text-decoration: none;
  }

  p {
    margin: 0;
    &:nth-child(2),
    &:nth-child(3) {
      font-size: 14px;
      color: darkslategray;
    }
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 300;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
