.layout {
  max-width: 800px;
  flex: 1;
}

.rowContainer {
  display: flex;
  align-items: center;
  button {
    border: none;
    padding: 10px 15px;
    background-color: #2da8fa;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.wordCard {
  background-color: #d1cfcf;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-right: 10px;
  flex: 1;
  cursor: pointer;
  a {
    text-decoration: none;
  }

  p {
    margin: 0;
    &:nth-child(2),
    &:nth-child(3) {
      font-size: 14px;
      color: darkslategray;
    }
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 300;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

$tw-bg-opacity: 1;
$tw-translate-x: 0;
$tw-translate-y: 0;
$tw-rotate: 0;
$tw-skew-x: 0;
$tw-skew-y: 0;
$tw-scale-x: 1;
$tw-scale-y: 1;
$tw-ring-offset-width: 0px;
$tw-ring-offset-color: #fff;
$tw-ring-color: rgba(59, 130, 246, 0.5);
$tw-ring-offset-shadow: 0 0 #0000;
$tw-ring-shadow: 0 0 #0000;
$tw-shadow: 0 0 #0000;
$tw-transform: translateX($tw-translate-x) translateY($tw-translate-y)
  rotate($tw-rotate) skewX($tw-skew-x) skewY($tw-skew-y) scaleX($tw-scale-x)
  scaleY($tw-scale-y);
$tw-transform: translateX($tw-translate-x) translateY($tw-translate-y)
  rotate($tw-rotate) skewX($tw-skew-x) skewY($tw-skew-y) scaleX($tw-scale-x)
  scaleY($tw-scale-y);
$tw-transform: translateX($tw-translate-x) translateY($tw-translate-y)
  rotate($tw-rotate) skewX($tw-skew-x) skewY($tw-skew-y) scaleX($tw-scale-x)
  scaleY($tw-scale-y);
* {
  $tw-translate-x: 0;
  $tw-translate-y: 0;
  $tw-rotate: 0;
  $tw-skew-x: 0;
  $tw-skew-y: 0;
  $tw-scale-x: 1;
  $tw-scale-y: 1;
  $tw-transform: translateX($tw-translate-x) translateY($tw-translate-y)
    rotate($tw-rotate) skewX($tw-skew-x) skewY($tw-skew-y) scaleX($tw-scale-x)
    scaleY($tw-scale-y);
  $tw-ring-offset-width: 0px;
  $tw-ring-offset-color: #fff;
  $tw-ring-color: rgba(59, 130, 246, 0.5);
  $tw-ring-offset-shadow: 0 0 #0000;
  $tw-ring-shadow: 0 0 #0000;
  $tw-shadow: 0 0 #0000;
  $tw-transform: translateX($tw-translate-x) translateY($tw-translate-y)
    rotate($tw-rotate) skewX($tw-skew-x) skewY($tw-skew-y) scaleX($tw-scale-x)
    scaleY($tw-scale-y);
}

.modal {
  position: fixed;
  z-index: 301;
  top: 0;
  margin-top: calc((100vh - 90vh) / 2);
  margin-bottom: calc((100vh - 90vh) / 2);
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: calc((100% - 90%) / 2);
  padding: 1.25rem 1.25rem 0;
  transform: $tw-transform;
  background-color: rgba(255, 255, 255, $tw-bg-opacity);
  box-shadow: $tw-ring-offset-shadow, 0 0 #0000, $tw-ring-shadow, 0 0 #0000,
    $tw-shadow;
  width: 90%;
  display: flex;
  flex-direction: column;

  .toolbar {
    padding: 50px 10px;
    background-color: rgb(255, 231, 152);
    position: sticky;
    bottom: 0;
    display: flex;
    margin-left: -20px;
    margin-left: -20px;
    justify-content: space-around;
    box-shadow: -1px -4px 4px -1px rgba(115, 115, 115, 0.44);
    -webkit-box-shadow: -1px -4px 4px -1px rgba(115, 115, 115, 0.44);
    -moz-box-shadow: -1px -4px 4px -1px rgba(115, 115, 115, 0.44);
    width: calc(100% + 40px);
  }
}
